# Node
node_modules/
dist/
build/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Uploads
backend/uploads/

# Prisma generated
backend/generated/
backend/node_modules/
backend/dist/
backend/.env

frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test coverage
coverage/
